
 body {
    padding-top: 54px;
    color:  red;
  }
  .center{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  
  
  }
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  
  