<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Pi Server</title>
    <link type = "text/css" href="../static/main.css" rel="stylesheet">
  </head>

  <body>
    
    <div>
    <form  class = "button1" id = "form" method="POST" action="http://localhost:5000/recipereceipt">
      <span><input type = "submit" value = "recipe" /> </span>
    </form>

    <form class = "button2"id = "form" method="POST" action="http://localhost:5000/dreamstomemes">
      <span><input type = "submit" value = "Generate Memes" /> </span>
    </form>
  </div>


  </body>

</html>