<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Pi Server</title>
    <link href="/static/main.css" rel="stylesheet">
  </head>

  <body>
    <span> test </span>
    <div class="center">
      <form>
        <div class = "input-group">
          <input type = "text" class = "form-control" placeholder="ENTER SHIT" name = "search">
          <div class = "input-group-btn">
          <button class = "btn btn-default" type = "submit">
            <span>PRINT</span>
          </button>
            
          </div>
          </div>
      </form>  
    </div>

  </body>

</html>
